:root {
    color-scheme: light dark;
}
@media (prefers-color-scheme: light) {
    :root {
        --color-scheme-background: white;
        --color-scheme-backgroundPushed: darkgray;
        --color-scheme-backgroundSelected: blue;
        --color-scheme-text-color: black;
        --color-scheme-text-selected: white;
        --listcolor-scheme-background: rgba(0, 255, 204, 0.1);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
      --color-scheme-background: black;
      --color-scheme-backgroundPushed: darkgray;
      --color-scheme-backgroundSelected: blue;
      --color-scheme-text-color: white;
      --color-scheme-text-selected: white;
      --listcolor-scheme-background: rgba(0, 30, 30, 0.1);
    }
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: var(--listcolor-scheme-background);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height:100vh;
    width:100vw;
    overflow: hidden;
    margin:0px;
}

.wrap {
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
}

.itemButtonChild {
    display: block;
    width: 90%;
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
    text-align: center;
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 2em;
    font-weight:bold;
    font: -apple-system-headline;
    margin-left: auto;
    margin-right: auto;
    margin-top: .1em;
    padding: 14px 28px;
}

.pushedButtonChild {
    display: block;
    width: 90%;
    background: var(--color-scheme-backgroundPushed);
    color: var(--color-scheme-text-color);
    text-align: center;
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 2em;
    font-weight:bold;
    font: -apple-system-headline;
    padding: 14px 28px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .1em;
}

.itemSelected {
    display: block;
    width: 90%;
    background: var(--color-scheme-backgroundSelected);
    color: var(--color-scheme-text-selected);
    text-align: center;
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 2em;
    font-weight:bold;
    font: -apple-system-headline;
    padding: 14px 28px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .1em;
}
