:root {
    color-scheme: light dark;
}
@media (prefers-color-scheme: light) {
    :root {
        --color-scheme-background: white;
        --color-scheme-backgroundPushed: darkgray;
        --color-scheme-backgroundSelected: blue;
        --color-scheme-text-color: black;
        --color-scheme-text-selected: white;
        --listcolor-scheme-background: #E4E4E4;
        --background-gradient: radial-gradient(125% 125% at 50% 10%, #E4E4E4 40%, #222222 100%);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
      --color-scheme-background: black;
      --color-scheme-backgroundPushed: darkgray;
      --color-scheme-backgroundSelected: blue;
      --color-scheme-text-color: white;
      --color-scheme-text-selected: white;
      --listcolor-scheme-background: #1E1E1E;
      --background-gradient: radial-gradient(125% 125% at 50% 10%, #000000 40%, #777777 100%);
    }
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: var(--background-gradient);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height:100%;
    width:100vw;
    overflow: hidden;
    margin:0px;
}

.wrap {
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
}

.center {
    margin-top: 2em;
    text-align: center;
}
       
.centertxt {
    font-size:50px;
}
