<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-splitview" version="2.4.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SplitView</name>
    <engines>
        <engine name="cordova-ios" version=">=7.0.0" />
    </engines>
    <description>Native iOS Split View</description>
    <author>Cedtris</author>
    <license>MIT</license>
    <js-module name="SplitView" src="www/SplitView.js">
        <clobbers target="cordova.plugins.SplitView" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent ="/*">
            <feature name ="SplitView">
                <param name ="ios-package" value="SplitView" />
            </feature>
        </config-file>
        <dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
        <header-file src="src/ios/SplitBridge.h" type="BridgingHeader" />
        <source-file src ="src/ios/SplitView.swift" />
        <source-file src ="src/ios/TabBar.swift" />
        <source-file src ="src/ios/Image.swift" />
        <source-file src ="src/ios/RootView.swift" />
        <source-file src ="src/ios/RootViewClassic.swift" />
        <source-file src ="src/ios/SplitChildViews.swift" />
        <source-file src ="src/ios/Embed.swift" />
        <source-file src ="src/ios/LegacyTableView.swift" />
        <source-file src ="src/ios/CollectionViewController.swift" />
        <source-file src ="src/ios/ViewProperties.swift" />
        <source-file src ="src/ios/SView.h" />
        <source-file src ="src/ios/SView.m" />
    </platform>
</plugin>
